{% extends "layout.html" %}
{% block body %}
    <div class="content">
        <ul class="item-list">
            {% for item in items %}
            <li class="item">
                <div class="item-card">
                    {% if item.thumbnail %}
                    <img class="thumbnail" src="{{ item.thumbnail }}">
                    {% endif %}
                    <h4 id="item-title">{{ item.title }}</h4>
                    <h5 id="item-date">{{ item.date }}</h5>
                    <div class="summary">{{ item.summary|safe }}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="overlay"></div>
    <div class="article-container">
        <i class="fa fa-arrow-left" id="close-button" aria-hidden="true"></i>
        <div class="article"></div>
    </div>
{% endblock %}