<!DOCTYPE html>
<head>
    <title>NanoFeed {{ title }}</title>
    
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="sidebar">
        <div class="channel-list">
            <ul id="channel-list">
                <li class="channel">All
                    <a href="/"><span></span></span></a>
                </li>
                {% for channel in channels %}
                <li class="channel">{{ channel.name }}
                    <a href="/channel/{{ channel.name }}"><span></span></span></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="topbar">
        {% if location %}
        <div class="location">
            <h2>{{ location }}</h2>
        </div>
        {% else %}
        <div class="location">
            <h2>All</h2>
        </div>
        {% endif %}
    </div>
    {% block body %}{% endblock %}
</body>
